@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kayahan Dayıma Selam Olsun !</h1>
    <p>Kısa Süre İçerisinde Profesyonel Webci Olucam <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
