
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3> Burası Kendi Oluşturduğumuz View Sayfası.</h3>
<table>
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>Departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eren</td>
        <td>Yazılım Departmanı</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Ece</td>
        <td>Analist</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Ege</td>
        <td>Grafik Tasarım 3D</td>
    </tr>
</table>

